@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Preset : https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* General */

:root {
  /* Color */
  --header-background-color: #171c36;
  --main-background-color: #f4f5fa;
  --fallback: #d5dbfb;
  --button-color: #28388f;
  --book-color: #d5dbfb;

  /* Font */
  --font-color: #f4f5fa;
  --header-text-color: #ffffff;
}

body {
  background-color: var(--main-background-color, var(--fallback));
  height: 100vh;
}
/* HEADER */

header {
  background-color: var(--header-background-color, var(--fallback));
}

.library_name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.library_header {
  color: var(--header-text-color);
  display: flex;
  /* Vushes name left, buttons to right */
  justify-content: space-between;
  /* Vertically centers item */
  align-items: center;
  /* Spacing for elements */
  padding: 1rem 2rem;
}
.library_nav ul {
  /* Puts buttons side by side */
  display: flex;
  /* Gap between buttons */
  gap: 1rem;
}

.library_nav a {
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.library_header a {
  color: var(--header-text-color);
}

ul {
  /* Removes dot beside links */
  list-style: none;
}

a {
  /* Removes underline in links */
  text-decoration: none;
}

/* End of Header */

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add_btn {
  background-color: var(--button-color, var(--fallback));
  color: var(--header-text-color);
  margin: 20px;
  padding: 1rem 1rem;
  border-radius: 10px;
}
/* End of Main */

/* Book Area */
.library_book {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.book {
  background: var(--book-color);
  padding: 1rem;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 24px minmax(3fr, 200px) 1fr;
}
