/* CSS Preset : https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* General */

:root {
  --header-background-color: #171c36;
  --main-background-color: #f4f5fa;
  --fallback: #d5dbfb;
  --button-color: #28388f;
}

body {
  background-color: var(--main-background-color, var(--fallback));
}
/* HEADER */

header {
  background-color: var(--header-background-color, var(--fallback));
}

/* End of Header */

/* MAIN */

main .add_btn {
  background-color: var(--button-color, var(--fallback));
}
