/* CSS RESET */
/* This effectively clears all pre-existing styles and gives you a clean slate browser. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-background-color: #e2e8f0;
  --header-background-color: #ffffff;
  --sidebar-background-color: #1992d3;
  --card-border-color: #f0b329;

  /* Fonts */
  --default-text-color: #fff;
}
